[vsphere]
path   = /usr/bin/vmrun
#path  = C:\\Program Files (x86)\\VMware\\VMware VIX\\vmrun.exe
host   = https://172.20.20.126/sdk
user   = avtest
domain = vsphere.local
passwd = Av!Auto123

[fusion]
path = /Applications/VMware Fusion.app/Contents/Library/vmrun

[vm_config]
user     = avtest
passwd   = avtest
snapshot = ready

[vms]

# nodo B
#
# Win7

vba32 = [Big2] Win7-VBA32/Win7-VBA32.vmx
fprot = [Big2] Win7-Fprot/Win7-Fprot.vmx

# Win8

bitdef15 = [VMFuzz] Win8-BitDef15/Win8-BitDef15.vmx
eset7    = [VMFuzz] Win81-ESET7/Win81-ESET7.vmx
fortinet = [Big2] Win81-Fortinet/Win81-Fortinet.vmx
panda15  = [Big2] Win8-Panda15/Win8-Panda15.vmx
risint   = [Big2] Win81-Risint/Win81-Risint.vmx
syscare  = [Big2] Win8-SysCare/Win8-SysCare.vmx

kis15    = [Fast2] Win8-KIS15/Win8-KIS15.vmx
trendm15 = [Fast2] Win8-TrendM15/Win8-TrendM15.vmx
norman   = [Fast2] Win8-Norman/Win8-Norman.vmx

# nodo c
#
# Win8

avira15 = [VMFuzz] Win8-Avira15/Win8-Avira15.vmx
comodo  = [VMFuzz] Win81-Comodo/Win81-Comodo.vmx
zoneal  = [VMFuzz] Win8-ZoneAl/Win8-ZoneAl.vmx
360ts    = [VMFuzz] Win81-360ts/Win81-360ts.vmx
defender = [VMFuzz] Win8-Defender/Win8-Defender.vmx


# Win7

360cn5  = [VMFuzz] Win7-360cn5/Win7-360cn5.vmx
adaware = [VMFuzz] Win7-Adaware_New/Win7-Adaware_New.vmx
ahnlab  = [datastore0] Win7-Ahnlab/Win7-Ahnlab.vmx
avast   = [datastore0] Win7-Avast/Win7-Avast.vmx
avg     = [VMFuzz] Win7-AVG/Win7-AVG.vmx
avg15   = [VMFuzz] Win8-AVG15/Win8-AVG15.vmx
avira   = [VMFuzz] Win7-Avira/Win7-Avira.vmx
bitdef  = [datastore0] Win7-BitDef/Win7-BitDef.vmx
clamav  = [VMFuzz] Win7-ClamAV/Win7-ClamAV.vmx
cmcav   = [VMFuzz] Win7-CMCAV/Win7-CMCAV.vmx
drweb   = [VMFuzz] Win7-DrWeb/Win7-DrWeb.vmx
eset    = [VMFuzz] Win7-ESET/Win7-ESET.vmx
gdata   = [datastore0] Win7-Gdata/Win7-Gdata.vmx
fsecure = [datastore0] Win7-FSecure/Win7-FSecure.vmx
kis     = [datastore0] Win7-KIS/Win7-KIS.vmx
kis14   = [VMFuzz] Win7-KIS14/Win7-KIS14.vmx
mbytes  = [datastore0] Win7-MBytes/Win7-MBytes.vmx
norton      = [VMFuzz] Win7-Norton/Win7-Norton.vmx
msessential = [VMFuzz] Win7-MSEssential/Win7-MSEssential.vmx
mcafee      = [VMFuzz] Win7-McAfee/Win7-McAfee.vmx
panda       = [VMFuzz] Win7-Panda/Win7-Panda.vmx
trendm      = [datastore1] Win7-TrendM/Win7-TrendM.vmx
avira15f = [VMFuzz] Win7-Avira15/Win7-Avira15.vmx
avg15f   = [VMFuzz] Win7-AVG15/Win7-AVG15.vmx
norton15 = [VMFuzz] Win7-Norton15/Win7-Norton15.vmx
spybot   = [VMFuzz] Win7-Spybot/Win7-Spybot.vmx
comodo7  = [VMFuzz] Win7-Comodo/Win7-Comodo.vmx
zoneal7 = [VMFuzz] Win7-Zoneal/Win7-Zoneal.vmx

# WinXP

kis32   = [VMFuzz] WinXP-KIS/WinXP-KIS.vmx
avast32 = [datastore0] WinXP-Avast32/WinXP-Avast32.vmx
avg32   = [VMFuzz] WinXP-AVG32/WinXP-AVG32.vmx
iobit32 = [datastore0] WinXP-IOBit/WinXP-IOBit.vmx


# functional tests VM
funie = [datastore0] FunIE/FunIE.vmx
funff = [datastore0] FunFF/FunFF.vmx
funch = [VMFuzz] FunCH/FunCH.vmx

# testz

noavbig = [Big] NoAvBig/NoAvBig.vmx
win81 = [Big] Win81Agent/Win81Agent.vmx
funvm = [Fast] FunctionalVM/FunctionalVM.vmx
funw81 = [Fast] FunWin81/FunWin81.vmx

#manual tests

testspot = [Big2] Win81-TestSpot/Win81-TestSpot.vmx

[pool]
size = 10
